
.raleway {
  font-family: "Raleway", sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}



.header{
    background-image: url('../Assets/Hero-bg.png');
}

.navbar {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
}

.btn:hover{
    background-color: white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}

.banner{
     width: 1140px;
    margin: 0 auto;
    text-align: center; 
    padding-bottom: 100px;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;;
}

.banner-btn{
    width: 190px;
}

.main-section{
    margin-top: 0px;
    padding:01px;
    background-color: #eff2f5;
}


/* action section  */
.action{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.action-left{
    width: 420px;
    /* background-color: red; */
}

.action-btn{
    width:230px;
}
.action-img{
    border-radius: 20px;
    width: 400px;
    height: 330px;
    
}

.action-title{
    font-size: 42px;
    font-weight: bold;
}

.action-description{
    color: #848298;
}

.users{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background-color: #4E47FF1A;
    padding: 50px 0;
    border-radius: 20px; 
}

.users-title{
    font-size: 42px;
    font-weight: bold;
    
}
.users-stats{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 0 auto;
}

.users-stats-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
    /* background-color: red; */
}

.users-stats-item{
    
    height: 120px;
    align-items: center;
    /* background-color: aqua; */
}

.users-stats-item p{
    margin: 0;
    color: #848298;
}

.feedback{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}

.feedback h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
  width: 300px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  margin: 50px auto 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px); /* optional lift effect */
}


.card-user{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.card-avatar{
    border-radius: 50%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-title h1 {
  font-size: 97px;
  color: #252432;
  /* max-width: 300px; */
}

.contact-form {
  /* background-color: #fff; */
  /* padding: 40px; */
  border-radius: 15px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08); */
  width: 100%;
  max-width: 400px;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #4E47FF;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.form-group textarea {
  height: 120px;
}

.submit-btn{
    width: 420px;
}


.footer-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 530px;
    margin: 0 auto;
}

.footer-container ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-container h1{
    font-size: 100px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: none;
    padding-bottom: none;
}


.footer-container ul li{
    display: inline;
}

.footer-container ul li a{
    text-decoration: none;
    
}